In [41]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [42]:
df = pd.read_csv('./airlines.csv')
df.head()

,# of Delays.Carrier,# of Delays.Late Aircraft,# of Delays.National Aviation System,# of Delays.Security,# of Delays.Weather,Cancelled,Carriers.Total,Code,Delayed,Diverted,...,Minutes Delayed.Late Aircraft,Minutes Delayed.National Aviation System,Minutes Delayed.Security,Minutes Delayed.Total,Minutes Delayed.Weather,Month,Month Name,Name,On Time,Year
0,1009,1275,3217,17,328,216,11,ATL,5843,27,...,68335,118831,518,268764,19474,6,June,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",23974,2003
1,374,495,685,3,66,138,14,BOS,1623,3,...,28189,24400,99,77167,4160,6,June,"Boston, MA: Logan International",7875,2003
2,296,477,389,8,78,29,11,BWI,1245,15,...,26810,17556,278,64480,6201,6,June,"Baltimore, MD: Baltimore/Washington Internatio...",6998,2003
3,300,472,735,2,54,73,11,CLT,1562,14,...,23379,23804,127,65865,3792,6,June,"Charlotte, NC: Charlotte Douglas International",7021,2003
4,283,268,487,4,58,74,13,DCA,1100,18,...,13712,20999,120,52747,4141,6,June,"Washington, DC: Ronald Reagan Washington National",5321,2003

In [43]:
Features = df.drop(['Code', 'Name', 'Month', 'Year', 'Month Name', 'Label'], axis=1)
Labels = df[['Code']]

In [44]:
list(Features)

['# of Delays.Carrier',
 '# of Delays.Late Aircraft',
 '# of Delays.National Aviation System',
 '# of Delays.Security',
 '# of Delays.Weather',
 'Cancelled',
 'Carriers.Total',
 'Delayed',
 'Diverted',
 'Flights.Total',
 'Minutes Delayed.Carrier',
 'Minutes Delayed.Late Aircraft',
 'Minutes Delayed.National Aviation System',
 'Minutes Delayed.Security',
 'Minutes Delayed.Total',
 'Minutes Delayed.Weather',
 'On Time']

In [45]:
list(Labels)

['Code']

In [46]:
X_train, X_test = train_test_split(Features, test_size=0.2)

In [49]:
X_train.shape

(3526, 17)